h1= title
p Welcome to #{title}

- each item in portfolioItems
  - if (thumbnail=getPortfolioThumbnail(item))
    img(src=thumbnail.url)
  h2= item.title
- each post in posts
  h2= post.title
  !=post.body_full



